body{
  margin:0;
  padding:0;
}

canvas{
  width: 150px;
  height: 150px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  z-index:-1;
}

.bottom {
  bottom: 45px;
  right: 24px;
}

.bottom2 {
  bottom: 45px;
  right: 154px;
}

.main {
  z-index: 1;
}
